@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 100%;
  line-height: 1.3;
  background-color: black;
  font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.5em;
  font-family: 'Italianno', cursive;
  text-align: center;
  padding: 0em 0.25em 0em 0.25em;
  margin: 0;
  background: -webkit-linear-gradient(#ef7cbc, #ffe661);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: white;
  margin: 1em;
  font-size: 12px;
  line-height: 1.5em;
}


@media only screen and (min-width: 20em) {

img {
  float: right;
}

h1 {
  float: left;
  margin-left: 0.6em;
  font-size: 2.75em;
}

p {
  clear: both;
  margin: 2.5em;
}

}


@media only screen and (min-width: 25em) {

header {
  position: relative;
  overflow: hidden;
}

img {
  position: relative;
}

h1 {
  position: absolute;
  bottom: 2%;
  margin-left: 0.75em;
  font-size: 3em;
  padding: 0em;
}

p {
  margin: 1em 3em 3em 3em;
  font-size: 14px;
}

}


@media only screen and (min-width: 28em) {

h1 {
  font-size: 3.25em;
}

p {
  max-width: 340px;
}

}


@media only screen and (min-width: 31em) {

img {
  width: 75%;
}

h1 {
  font-size: 4em;
}

}


@media only screen and (min-width: 45em) {

h1 {
  bottom: 50%;
}

.p1 {
  position:absolute;
  float: left;
  bottom: 2%;
}

.p2 {
  position: absolute;
  clear: left;
  bottom: -45%;
}

}


@media only screen and (min-width: 56em) {

h1 {
  font-size: 4.75em;
  bottom: 45%;
}

p {
  padding-left: 51px;
}

.p1 {
  bottom: -20%;
}

.p2 {
  bottom: -73%;
}

}


@media only screen and (min-width: 64em) {

header {
  height: 500px;
}

img {
  width: 69%;
  position: fixed;
  right: 0%;
  z-index: -100;
}

h1 {
  position: relative;
  top: 173px;
  z-index: 100;
  font-size: 6em;
}
